@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
h1 {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 26px;
    color: black;
};

.icons{
    color: #0065FC;
};
